annotated_types
anyio
appdirs
asttokens
biopython
bioscan-dataset @ git+https://github.com/bioscan-ml/dataset.git
certifi
charset_normalizer
click
comm
contourpy
cycler
debugpy
decorator
docker-pycreds
exceptiongroup
executing
filelock
fonttools
fsspec
gitdb
gitpython
h11
hf_xet
httpcore
httpx
huggingface_hub
idna
ipykernel
ipython

# JAX with CUDA 13 support
jax[cuda12]

jedi
jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib_inline
ml_dtypes
mpmath
nest_asyncio
networkx
ninja
numpy
opt_einsum
packaging
pandas
parso
pathtools
pexpect
pillow
Pillow_SIMD
platformdirs
plotly
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
pybind11
pydantic
pydantic_core
pydot
pygments
pyparsing
pyproject-toml
python_dateutil
pytz
PyYAML
pyzmq
regex
requests
safetensors
SciencePlots
scikit_learn
scipy
seaborn
sentencepiece
sentry_sdk
setproctitle
shellingham
six
smmap
stack_data
sympy
tenacity
threadpoolctl
tokenizers
tomli
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
typer_slim
typing_extensions
typing_inspection
tzdata
urllib3
wandb
wcwidth